:root,
html[data-theme='light'] {
  --scrollbar-track: #f7f7f7;
  --scrollbar-thumb: #cbcbcb;
  --color-1: #0b090c;
  --color-2: #fff;
  --color-3: #000;
  --bg-color-1: #fff;
  --bg-color-2: #646464;
  --bg-color-3: #eee;
  --link-lang-bg-color: #808080;
  --title-bg: #808080;

  --btn-general-bg: #808080;
  --btn-general-border: rgba(255,255,255,0.1);
  --border-1: #d1d1d1;
  --border-2: rgb(255, 255, 255, 0.3);

  --list-separator-1: ',';
  --list-separator-2: 'â–';
}

html[data-theme='dark'] {
  --scrollbar-track: #f7f7f7;
  --scrollbar-thumb: #cbcbcb;
  --color-1: #eecbff;
  --color-2: #000;
  --color-3: #fff;
  --bg-color-1: #000;
  --bg-color-2: #646464;
  --bg-color-3: #505050;
  --link-lang-bg-color: #808080;
  --title-bg: #808080;

  --btn-general-bg: #808080;
  --btn-general-border: rgba(0, 0, 0, 0.1);
  --border-1: #d1d1d1;
  --border-2: rgb(0, 0, 0, 0.3);
}

/* iconmoon */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?hsik1u');
  src:  url('../fonts/icomoon.eot?hsik1u#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?hsik1u') format('truetype'),
      url('../fonts/icomoon.woff?hsik1u') format('woff'),
      url('../fonts/icomoon.svg?hsik1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-linkedin:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-skype:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}

/* global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.full-width {
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.full-height {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}

.weight-normal {
  font-weight: normal !important;
}

.bolder {
  font-weight: bold !important;
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0 24px;
  list-style: none;
  line-height: 1.4;
  text-align: left;
}

.list {
  padding-left: 24px;
}

.list li {
  list-style-type: square;
}

.list li:first-child {
  margin-left: -24px;
  font-weight: bold;
  list-style: none;
}

.list-technologies,
.product-company {
  position: relative;
  padding: 0 0 0 190px;
}

.list-technologies {
  margin-bottom: 8px;
}

.col_right .list-inline {
  padding-left: 0;
}

.list-inline li,
.list-technologies li,
.product-company li {
  margin-right: 8px;
  display: inline-block;
  line-height: 1.4;
}

.list-inline li::after,
.product-company li::after {
  content: var(--list-separator-1);
}

.list-technologies li::after {
  content: var(--list-separator-2);
  padding-left: 8px;
  font-style: normal;
}

.list-inline li:last-child:after,
.list-technologies li:last-child::after,
.product-company li:last-child::after {
  content: none;
}

.list-technologies::before,
.product-company::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
}

.list-technologies::before::before,
.product-company::before {
  content: attr(data-before-content);
}

/* scrollbar */
*::-webkit-scrollbar {
width: 6px;
height: 6px;
}
*::-webkit-scrollbar-track {
background-color: var(--scrollbar-track);
}
*::-webkit-scrollbar-thumb {
background-color: var(--scrollbar-thumb);
border-radius: 4px;
}

/* flex */
.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-h__between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-v__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* grid */
.row {
  margin-left: -8px;
  margin-right: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-3 {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-6 {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-9 {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

/* spase */
.m-b-0 {
  margin-bottom: 0 !important;
}

.m-b-12 {
  margin-bottom: 12px !important;
}

.m-b--16 {
  margin-bottom: -16px !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-t-a {
  margin-top: auto !important;
}

.m-v-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}

.m-r-8 {
  margin-right: 8px !important;
}

/* main grid */
.link-lang {
  position: fixed;
  top: 20px;
  right: 30px;
  padding: 8px;
  background-color: var(--link-lang-bg-color);
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  z-index: 4;
}

.col_left,
.col_right {
  padding: 16px;
}

.col_left {
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  background-color: #646464;
  color: var(--color-2);
  text-align: center;
}

.col_right {
  padding-left: 32px;
  padding-bottom: 56px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* main */
body {
  position: relative;
  background-color: var(--bg-color-1);
  font-family: Roboto, sans-serif;
  color: var(--color-1);
  font-size: 14px;
  font-style: italic;
  line-height: 1.2;
}

.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1280px;
  width: 100%;
  background-color: var(--bg-color-3);
}

.main_title {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

/* btn */
.btn-medium {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 8px 24px;
  font-size: 16px;
  min-height: 32px;
}
.btn-medium:active {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-medium:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: translateX 0.3s, width 0.3s, opacity 0.3s, background-color 0.3s;
  -o-transition: translateX 0.3s, width 0.3s, opacity 0.3s, background-color 0.3s;
  transition: translateX 0.3s, width 0.3s, opacity 0.3s, background-color 0.3s;
}
.btn-medium:hover:after,
.btn-medium.active:after {
  width: calc(100% + 2px);
  opacity: 1;
}
.btn-medium.active {
  cursor: default;
}
.btn-medium > span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.btn-general {
  background-color: var(--btn-general-bg);
  border: 1px solid var(--btn-general-border);
  color: var(--color-2);
}
.btn-general:after {
  background-color: var(--bg-color-2);
}
.btn-general:active:after,
.btn-general.active:after {
  background-color: var(--btn-general-bg);
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

/* foto */
.foto {
  position: relative;
  margin: -16px -16px 0;
  padding: 32px 32px 16px;
  overflow: hidden;
}

.foto:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/foto.jpg) no-repeat;
  background-size: cover;
  -webkit-filter: blur(7px);
          filter: blur(7px);
  z-index: 0;
}

.foto img {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 300px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
          box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.5);
  z-index: 1;
}

h1 {
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--title-bg);
  font-size: 32px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}

.box_title {
  text-transform: uppercase;
  font-size: 20px;
}

.col_left .title {
  margin: 16px 0 8px;
  font-weight: bold;
}

.col_left .title::after {
  content: ':';
}

.col_left .box_title {
  margin: 16px -16px;
  padding: 4px 8px;
  background-color: var(--title-bg);
  color: var(--color-2);
}

.socialmedia {
  padding-left: 12px;
}

.socialmedia_item {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialmedia i {
  font-size: 20px;
  margin-right: 12px;
  text-decoration: none;
}

.status-lang li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* data-tooltip */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  display: none;
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 10px);
  border-width: 6px;
  border-style: solid;
  border-color: var(--color-2);
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  z-index: 2;
}

[data-tooltip]::after {
  display: none;
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);
  padding: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  background-color: var(--bg-color-1);
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: var(--border-1);
  border-radius: 4px;
  color: var(--color-1);
  font-size: 12px;
  z-index: 3;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  word-break: break-word;
  word-wrap: break-word;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
  display: block !important;
}

.status-lang-dot {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.status-lang-dot div {
  margin: 0 2px;
  width: 12px;
  height: 12px;
  border: 1px solid var(--border-2);
  border-radius: 50px;
}

.status-lang .ok {
  background-color: var(--border-2);
}

/* col right */
.col_right .box_title {
  margin: 32px 0 16px;
  font-size: 24px;
}

.col_right .box_experience {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-1);
}

.col_right [class^="col-"] {
  margin-bottom: 16px;
}

.col_right .info {
  font-weight: 500;
}

.col_right p.date {
  font-size: 11px;
}

.col_right .courses,
.col_right .date,
.col_right .info,
.col_right .company,
.col_right .position,
.col_right .institution {
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col_right .company {
  font-weight: bold;
}

.col_right .courses::before,
.col_right .date::before,
.col_right .info::before,
.col_right .company::before,
.col_right .position::before,
.col_right .institution::before,
.col_right .institution::before {
  margin-right: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  font-weight: 400;
}

.col_right .date::before,
.col_right .courses::before,
.col_right .info::before,
.col_right .company::before,
.col_right .position::before,
.col_right .institution::before {
  content: attr(data-before-content);
}

.col_right .company a {
  color: var(--color-1);
  text-decoration: none;
}

.col_right .company a:hover::after {
  color: var(--color-3);
}

.col_right .company a {
  color: var(--color-1);
  text-decoration: none;
}

.col_right .company a:hover::after {
  color: var(--color-3);
}

.col_right .company a::after {
  content: '\e904';
  margin-left: 6px;
  margin-right: 6px;
  font-family: 'icomoon' !important;
  color: var(--link-lang-bg-color);
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.desctop    { display: block; }
.mobile     { display: none; }

@media only screen and (max-width: 992px) {
  .col-md-12 {
      padding-left: 8px;
      padding-right: 8px;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      max-width: 100%;
  }

  .list-technologies,
  .product-company {
      padding: 0 0 0 130px;
  }

  .list-technologies::before,
  .product-company::before {
      width: 125px;
  }

  .order-1 { order: 1; }
  .order-2 { order: 2; }
  .order-3 { order: 3; }
  .order-4 { order: 4; }
  .order-5 { order: 5; }
}

@media only screen and (max-width: 724px) {
  .mobile    { display: block; }

  .desctop,
  .main_title,
  .col_left .btn {
      display: none;
  }

  .col_left,
  .col_right {
      -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
  }

  .col_left {
      padding-bottom: 24px;
  }

  .col_right {
      padding-top: 0;
  }

  .socialmedia {
      padding-left: 24px;
  }

  [data-tooltip]::before {
      top: 100%;
      left: calc(100% - 30px);
      -webkit-transform: translateY(2px) rotate(45deg);
      -ms-transform: translateY(2px) rotate(45deg);
      transform: translateY(2px) rotate(45deg);
  }

  [data-tooltip]::after {
      top: calc(100% + 8px);
      left: 100%;
      border-width: 0 1px 1px 1px;
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}
